@import url("https://fonts.googleapis.com/css?family=Questrial");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  color: #000;
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-family: 'Quicksand', sans-serif; }

h3 {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center; }

h4 {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center; }

svg {
  display: block;
  margin: 0;
  padding: 0; }

.add, .next, .option, .pause, .play, .previous, .shuffle, .volume {
  transition: all .5s ease; }
  .add:hover, .next:hover, .option:hover, .pause:hover, .play:hover, .previous:hover, .shuffle:hover, .volume:hover {
    color: #454988; }

.album {
  background: linear-gradient(rgba(43, 46, 85, 0.25), rgba(179, 151, 204, 0.55)), url("http://4.bp.blogspot.com/-pcPjBBdE_K8/U7v4oEX3M8I/AAAAAAAAD2I/6dWyzgiPzkQ/s1600/Clean+BAndit+Album+.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  width: 100%; }

.app-logo {
  width: 150px; }

.artist-name {
  font-size: .6em;
  color: #454988;
  letter-spacing: 1.5px;
  margin-top: 5px; }

.avatar-logout {
  align-items: center;
  display: flex;
  justify-content: space-around; }

.bumper {
  height: 200px; }

.box-1 {
  align-items: center;
  display: flex;
  flex-shrink: 1;
  width: 50%; }

.box-2 {
  background-image: url("./images/vibelist-logo-black.png");
  background-size: cover;
  flex-shrink: 0;
  height: 50px;
  width: 190px; }

.box-3 {
  align-items: center;
  display: flex;
  flex-shrink: 1;
  flex-direction: row-reverse;
  min-width: 200px;
  width: 50%; }

.clicked {
  color: #b397cc;
  transform: scale(1.2);
  transition: all .4s ease; }

.-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px; }

.content {
  background-color: lavender;
  display: flex;
  min-height: 900px;
  justify-content: center;
  overflow: auto;
  width: 100%; }

.controls {
  align-items: center;
  color: #9284bf;
  display: flex;
  font-size: .8em;
  justify-content: center; }
  .controls .add {
    font-size: .8em;
    right: 10px;
    position: absolute; }
  .controls .option {
    font-size: .8em;
    left: 10px;
    position: absolute; }
  .controls .play, .controls .pause {
    color: #7462ae;
    margin: 15px 25px; }
  .controls .shuffle {
    font-size: .8em;
    margin-left: 30px; }
  .controls .volume {
    font-size: .8em;
    margin-right: 30px; }

.create-page-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.create-page-content {
  align-items: top;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px; }

.currently-playing {
  margin-top: -3px;
  text-align: center; }

.footer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%; }

.footer-text {
  font-size: 12px; }

.fill {
  background-color: #9284bf;
  border-radius: 2px;
  height: 0.3rem;
  width: 35%; }

.genre-form {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  width: 100px; }

.genre-selector-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between; }

.heart {
  color: #FFFFFF;
  margin: 10px;
  position: absolute;
  right: 0;
  transition: all .4s ease; }

.info {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  position: absolute;
  transform: translateY(35px);
  transition: all .5s ease-in-out;
  width: 100%; }

.list-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  margin-bottom: 30px; }

.login-container {
  display: flex;
  justify-content: center; }

.login-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin-top: 30px; }

.main-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1100px; }

.mood-emoji-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 450px; }

.mood-selector-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  margin-top: 30px; }

.menu {
  background-color: #fff;
  height: 150px;
  overflow: hidden; }

.mobile-nav-menu {
  display: none; }

.mobile-nav-menu a {
  background-color: rgba(255, 255, 255, 0.95);
  color: #000;
  display: block;
  float: left;
  font-size: 17px;
  padding: 25px 16px;
  text-align: center;
  text-decoration: none; }

.mobile-nav-menu a:hover {
  background-color: #c799cc;
  color: #fff; }

.mobile-nav-menu p {
  background-color: rgba(255, 255, 255, 0.95);
  color: #000;
  display: block;
  float: left;
  font-size: 17px;
  padding: 25px 16px;
  text-align: center;
  text-decoration: none; }

.mobile-nav-menu p:hover {
  background-color: #c799cc;
  color: #fff; }

.music-player {
  align-items: center;
  background-color: #fff;
  color: #181818;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
  padding: 20px;
  width: 700px; }

.music-player-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 135px; }

.my-vibelists-wrapper {
  display: flex;
  justify-content: space-evenly; }

.my-vibelist-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px; }

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; }

#player {
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(43, 46, 85, 0.4);
  flex-shrink: 0;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 300px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  #player:hover {
    transform: scale(1.05); }

.player-art {
  height: 150px; }

.player-button {
  background-color: #8fdce4;
  background-image: none;
  margin: 2px;
  width: 70px; }

.player-button-container {
  display: flex; }

.player-button-image {
  height: 20px; }

.player-text-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.playlist-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px; }

.progress-bar {
  background: #c3bcdd;
  border-radius: 10px;
  font-family: "Questrial", sans-serif;
  margin: 6% auto;
  height: 5px;
  width: 73%; }

.section {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 100%; }

.song-card {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.song-card-container {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 10px;
  min-width: 500px;
  overflow: auto; }

.song-name {
  color: #2b2e55;
  font-size: .8em;
  letter-spacing: 3px; }

.song-name, .artist-name {
  font-family: "Questrial", sans-serif;
  margin: 0;
  text-transform: uppercase; }

.spinner {
  animation: contanim 2s linear infinite;
  width: 150px;
  height: 150px; }

.spinner > svg {
  left: 0;
  top: 0;
  position: absolute;
  transform: rotate(-90deg);
  width: 100%;
  height: 100%; }
  .spinner > svg:nth-child(1) circle {
    stroke: #fdd5e7;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(.2s * (1)) ease infinite;
    transform-origin: center center; }
  .spinner > svg:nth-child(2) circle {
    stroke: #feecf2;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(.2s * (2)) ease infinite;
    transform-origin: center center; }
  .spinner > svg:nth-child(3) circle {
    stroke: #d09ed4;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(.2s * (3)) ease infinite;
    transform-origin: center center; }
  .spinner > svg:nth-child(4) circle {
    stroke: #3f437c;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(.2s * (4)) ease infinite;
    transform-origin: center center; }

@keyframes strokeanim {
  0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -58.54832; }
  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -175.64497; } }

@keyframes contanim {
  100% {
    transform: rotate(360deg); } }

.spotify-login-button {
  background-image: url("/images/spotify_connect_button.png");
  background-size: cover;
  height: 52.5px;
  margin-top: 40px;
  width: 300px; }

.text-link {
  text-decoration: none; }

.time--current, .time--total {
  color: #2b2e55;
  font-size: 10px;
  margin-top: -2px;
  position: absolute; }

.time--current {
  left: 15px; }

.time--total {
  right: 15px; }

.topnav {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  height: 70px;
  overflow: hidden; }

.topnav a {
  display: block;
  color: #000;
  float: left;
  font-size: 17px;
  padding: 25px 16px;
  text-align: center;
  text-decoration: none; }

.topnav a:hover {
  color: #6a6ac8; }

.topnav .icon {
  cursor: pointer;
  display: none;
  padding: 0 10px; }

.topnav p {
  display: block;
  color: #000;
  cursor: pointer;
  float: left;
  font-size: 17px;
  padding: 25px 16px;
  text-align: center;
  text-decoration: none; }

.topnav p:hover {
  color: #6a6ac8; }

.up {
  transform: translateY(0px); }

.vibelist-multi {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px; }

.welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin-top: 60px; }

/* Mobile Styles */
@media only screen and (max-width: 648px) {
  .album-cover-image {
    height: 90px;
    width: 90px; }
  .avatar {
    display: none; }
  .content {
    position: relative;
    z-index: 8; }
  .create-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center; }
  .create-page-content {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: -150px;
    margin-bottom: 25px; }
  .main-container {
    flex-direction: column;
    padding: 50px 0; }
  .mobile-nav-menu.show {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    position: absolute;
    width: 100%;
    z-index: 9; }
  .mood-emoji-container {
    display: flex;
    flex-direction: column;
    width: 120px; }
  .mood-selector-container {
    height: 500px; }
  .m-ui-list {
    margin-bottom: 20px;
    margin-top: 20px; }
  .my-vibelist-container {
    margin-top: 0px; }
  .my-vibelists-wrapper {
    display: flex;
    flex-direction: column-reverse; }
  #player {
    margin-top: -20px; }
  .playlist-container {
    height: 500px;
    margin-top: 20px; }
  .song-card {
    flex-shrink: 0;
    height: 110px;
    margin: 4px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px; }
  .song-card-container {
    height: 300px;
    margin-top: 10px;
    min-width: 250px; }
  .topnav a {
    display: none; }
  .topnav .icon {
    display: block;
    float: right; }
  .topnav p {
    display: none; } }

/*Tablet Styles */
@media only screen and (min-width: 649px) and (max-width: 960px) {
  .avatar {
    background-image: none; }
  .avatar-logout {
    padding-right: 10px; }
  .album-cover-image {
    height: 90px;
    width: 90px; }
  .content {
    position: relative;
    z-index: 8; }
  .main-container {
    flex-direction: column;
    padding: 50px 0; }
  .mobile-nav-menu .mobile-home-button {
    display: none; }
  .mobile-nav-menu.show {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    position: absolute;
    z-index: 9; }
  .mobile-nav-menu.show.tablet a {
    width: 200px; }
  .mobile-nav-menu.show.tablet p {
    width: 200px; }
  .music-player-container {
    margin-top: 0; }
  .my-vibelist-container {
    margin-top: 0px; }
  .playlist-container {
    height: 700px; }
  .song-card {
    flex-shrink: 0;
    height: 110px;
    margin: 4px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px; }
  .song-card-container {
    height: 500px;
    min-width: 300px; }
  .topnav a:first-child {
    width: 200px; }
  .topnav a:not(:first-child) {
    display: none; }
  .topnav .icon {
    display: block;
    float: right; }
  .topnav p {
    display: none; } }

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .album-cover-image {
    height: 90px;
    width: 90px; }
  .page {
    margin: 0 auto; }
  .playlist-container {
    height: 700px; }
  .song-card {
    flex-shrink: 0;
    height: 110px;
    margin: 4px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px; }
  .song-card-container {
    height: 500px; } }
